<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TimbresIP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TimbresIP.Properties.Settings>
      <setting name="jsonExtension" serializeAs="String">
        <value>.json</value>
      </setting>
      <setting name="startId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="jsonFileName" serializeAs="String">
        <value>data</value>
      </setting>
      <setting name="jsonFolderDirectory" serializeAs="String">
        <value />
      </setting>
    </TimbresIP.Properties.Settings>
    <log4net>
      <root>
        <level value="ALL" />
        <appender-ref ref="FileAppender" />
      </root>
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value="%d{yyyy_MM_dd}.log" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
        </layout>
      </appender>
    </log4net>
  </applicationSettings>
</configuration>